<component name="ArtifactManager">
  <artifact type="javafx" name="app">
    <output-path>$PROJECT_DIR$/out/artifacts/app</output-path>
    <root id="root">
      <element id="archive" name="app.jar">
        <element id="module-output" name="app" />
      </element>
    </root>
  </artifact>
</component>